  body {
      background-color: #BBBBBB;
      font-family: "Comic Sans MS", "Comic Sans", cursive;

    }
	
	.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
	}

    .column3 {
    float: left;
    width: 33.33%;
    padding: 5px;
	}


    .column5 {
    float: left;
    width: 20%;
    padding: 5px;
	}
	
	.container {
    position: relative;
    text-align: center;
    color: white;
	}
	
	.containterblack {
	position: relative;
    text-align: center;
    color: black;
	}
	
	.centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-size: 70px;
	color: white;
	}

	.source {
	font-size: 15px;
	font-family: Arial;
	}
    
	.column {
    float: left;
    width: 23%;
    padding: 5px;
	}

	.row::after {
    content: "";
    clear: both;
    display: table;
	}
	
